<%# Header %>

    <% if (title && detailHTML) { %>
        <h1>
            <%= title %>
        </h1>

        <!-- Flash messages -->
        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>


                    <div class="vehicle-details">
                        <%- detailHTML %>
                    </div>

                    <div class="upgrades">
                        <section id="add-ons">
                            <h1>Upgrades</h1>
                            <div class="flex">
                                <a href="#" title="flux-capacitor" class="upgrade-link" data-upgrade="flux-capacitor">
                                    <figure>
                                        <div class="add-col">
                                            <img src="/images/upgrades/flux-cap.png" alt="Flux-Capacitor">
                                        </div>
                                        <figcaption>Flux Capacitor</figcaption>
                                    </figure>
                                </a>
                                <a href="#" title="flame decals" class="upgrade-link" data-upgrade="flame-decals">
                                    <figure>
                                        <div class="add-col">
                                            <img src="/images/upgrades/flame.jpg" alt="flame decal">
                                        </div>
                                        <figcaption>Flame Decals</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="flex">
                                <a href="#" title="bumper stickers" class="upgrade-link" data-upgrade="bumper-stickers">
                                    <figure>
                                        <div class="add-col">
                                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                                        </div>
                                        <figcaption>Bumper Stickers</figcaption>
                                    </figure>
                                </a>
                                <a href="#" title="hub caps" class="upgrade-link" data-upgrade="hub-caps">
                                    <figure>
                                        <div class="add-col">
                                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                                        </div>
                                        <figcaption>Hub Caps</figcaption>
                                    </figure>
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="Custom-price">
                        <h2>Base Price: $ <%- total %> </h2>
                        <h2 id="customization-total">Estimated Customization Total: $ <%- total %> </h2>
                        <p hidden id="total"> <%- price %> </p>
                        <button id="reset-button">Reset Estimated Total</button>
                        <div id="upgrade-counts"></div>
                    </div>
                    <%- reviews %>
                        <% } else { res.redirect('/') } %>

                            <script src="/js/customization.js"></script>